<div>Fusion Chart</div>
<a href="https://www.fusioncharts.com/explore/chart-gallery/statistical-charts/Inverse-y-Axis-Line-2D">View Documentation</a>
<div class='chartContainer'>
    <app-fusionchart1></app-fusionchart1>
    <app-fusionchart2></app-fusionchart2>
    <app-fusionchart3></app-fusionchart3>
</div>

<div>Syncfusion</div>
<a href="https://ej2.syncfusion.com/angular/demos/#/material/chart/range-bar">View Documentation</a>
    <div class='chartContainer2'>
        <app-syncfusion1></app-syncfusion1>
    </div>
    <div class='chartContainer2'>
        <app-syncfusion2></app-syncfusion2>
    </div>

<div>AmChart</div>
<a href="https://www.amcharts.com/demos/">View Documentation</a>
<app-amchart1></app-amchart1>
